
        :root {
            --fs-p: clamp(1rem, 3vi + -1.1rem, 10rem);
            --fs-h1: clamp(1rem, 10.97vi + -1.74rem, 7.03rem);
            --fs-h2: clamp(1rem, 14.16vi + -2.54rem, 8.79rem);
            --fs-a: clamp(1rem, 3.9vi + -2.24rem, 11rem);
            --fs-a1: clamp(1rem, 4vi + -2rem, 11rem);
            --font-family: "Space Grotesk", sans-serif;
            --letter-spacing: -1px;
        }

        body {
            background-color: #474B24;
        }

        .container1 {
            display: flex;
            flex-direction: row;
            align-content: space-evenly;
            gap: 2rem 3rem;

        }

        .box1 {
            padding: 1rem;
        }

        h1  {
            color:#5fb8bb; 
            font-size: var(--fs-h1);
            font-family: "Notable", sans-serif;
            font-weight: normal;
            font-style:normal;
        }

        h2  {
            color: #8DDCA4; 
            font-size: 50px;
            font-family: "Cookie", cursive;
            font-weight: normal;
            font-style: normal;
        }

        h3 {
            color: #deb887;
            font-size: var(--fs-p);
            font-family: var(--font-family);
            line-height: 35px;
            letter-spacing: var(--letter-spacing);
        }

        p   {
            color: white;
            font-size: var(--fs-p);
            font-family: var(--font-family);
            font-weight: normal;
            font-style: normal;
            line-height: 35px;
            letter-spacing: var(--letter-spacing);
        }

        a   {
            color: #deb887;
            font-size: var(--fs-a);
            font-family: var(--font-family);
            font-weight: bold;
            font-style: italic;
            line-height: 1.5;
            letter-spacing: var(--letter-spacing);
        }

        a:hover {
            font-size: var(--fs-a1);
            color: #F5A6E6;
        }

        hr {
            color: #F5A6E6;
        }

        button {
            line-height:1.5;
            padding: 1%;
            font-family: "Space Grotesk", sans-serif;
            font-size: 25px;
            border: none;
            outline: none;
            background-color:#F5A6E6;
            border-radius: 25px;


        }
        button:hover {
            background-color: #EE73D7;
        }
        button:active {
            background-color: #F5A6E6;
        }

        .my-container {
            width: 75vw;
        }

        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        @media screen and (max-width: 768px) {
            .container1 {
                flex-direction: column;
            }
        }

        #para {
            color:white;
            line-height: 40px;
        }

/* for data filter in json */

        #movies {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }

        .card {
            display: flex;
            flex-direction: column;
            border: 20px;
            border-color: #5fb8bb;
        }

        .card img {
            width: 520px;
            height: 819px;
        }

        /* .genres {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;
        } */

        .selected {
            background: #E539C4;
        }   

        

