
        body {
            background-color: #474B24;
        }
        
        .blue-background {
            background-color: lightblue;
        }

        h1  {
            color:#5fb8bb; 
            font-size: 90px;
            font-family: "Notable", sans-serif;
            font-weight: normal;
            font-style:normal;
        }

        h2  {
            color: #8DDCA4; 
            font-size: 50px;
            font-family: "Cookie", cursive;
            font-weight: normal;
            font-style: normal;
        }

        p   {
            color: white;
            font-size: 25px;
            font-family: "Space Grotesk", sans-serif;
            font-weight: normal;
            font-style: normal;
            line-height: 35px;
            letter-spacing: -1px;
        }

        a   {
            color: burlywood;
            font-size: 30px;
            font-family: "Space Grotesk", sans-serif;
            font-weight: bold;
            font-style: italic;
            line-height: 1.5;
            letter-spacing: -1px;
        }

        a:hover {
            font-size:35px;
            color: #F5A6E6;
        }


        .small-link {
            font-size: 25px;
        }

        hr {
            color: #F5A6E6;
        }

        .my-container {
            width: 75vw;
        }